$rangeHeight: 4px;
$circleHeight: 24px;
$circleWidth: 24px;

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: $rangeHeight;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 2px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: $rangeHeight;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: $rangeHeight;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: $rangeHeight;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: $circleHeight;
    width: $circleWidth;
    background-color: #70C05B;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: $circleHeight;
    width: $circleWidth;
    cursor: pointer;
    border-radius: 50%;
    background-color: #70C05B;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: $circleHeight;
    width: $circleWidth;
    cursor: pointer;
    border-radius: 50%;
    background-color: #70C05B;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #70C05B;
}